# EDA - Evaluate Student Summaries

# Libro de Variables

## Prompts
- **prompt_id**: 
    - Identificador único para la información del texto que debe de ser resumido.
    - Tipo: String
- **prompt_question**: 
    - Pregunta que se le hace al estudiante para que resuma el texto.
    - Tipo: String
- **prompt_title**: 
    - Un título sobre el texto que debe de ser resumido.
    - Tipo: String
- **prompt_text**: 
    - Texto que debe de ser resumido.
    - Tipo: String


## Summaries
- **student_id**:
    - Identificador único para el estudiante.
    - Tipo: String 
- **prompt_id**:
    - Identificador único para la información del texto que debe de ser resumido. Hace referencia al `prompt_id` de la tabla Prompts.
    - Tipo: String
- **text**:
    - El resumen hecho por el estudiante
    - Tipo: String
- **content**:
    - Un valor numérico que indica la calidad del resumen hecho por el estudiante. (El primer criterio de evaluación o _target_)
    - Tipo: Float
- **wording**:
    - Un valor numérico que indica la calidad de las palabras usadas en el resumen hecho por el estudiante. (El segundo criterio de evaluación o _target_)
    - Tipo: Float

## Librerías utilizadas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk

## Carga de datos

In [2]:
df_prompts = pd.read_csv('../data/prompts_train.csv')
df_prompts.head()

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
3,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an..."

In [3]:
df_summaries = pd.read_csv('../data/summaries_train.csv')
df_summaries.head()

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226
3,005ab0199905,3b9047,The highest class was Pharaohs these people we...,-0.210614,-0.471415
4,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757